@font-face {
  font-family: 'MontserratAlternates-Light'; 
  font-weight: 300;
  font-style: normal; 
  src: local('MontserratAlternates-Light'), 
    url('../fonts/MontserratAlternates-Light.woff2') format('woff2'),
    url('../fonts/MontserratAlternates-Light.woff') format('woff');
  font-display: swap; 
}

@font-face {
  font-family: 'MontserratAlternates-Medium';
  font-weight: 500;
  font-style: normal;
  src: local('MontserratAlternates-Medium'),
    url('../fonts/MontserratAlternates-Medium.woff2') format('woff2'),
    url('../fonts/MontserratAlternates-Medium.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'MontserratAlternates-SemiBold';
  font-weight: 600;
  font-style: normal;
  src: local('MontserratAlternates-SemiBold'),
    url('../fonts/MontserratAlternates-SemiBold.woff2') format('woff2'),
    url('../fonts/MontserratAlternates-SemiBold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'MontserratAlternates-Bold';
  font-weight: 700;
  font-style: normal;
  src: local('MontserratAlternates-Bold'),
    url('../fonts/MontserratAlternates-Bold.woff2') format('woff2'),
    url('../fonts/MontserratAlternates-Bold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat-Light';
  font-weight: 300;
  font-style: normal;
  src: local('Montserrat-Light'),
    url('../fonts/Montserrat-Light.woff2') format('woff2'),
    url('../fonts/Montserrat-Light.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat-Regular';
  font-weight: 400;
  font-style: normal;
  src: local('Montserrat-Regular'),
    url('../fonts/Montserrat-Regular.woff2') format('woff2'),
    url('../fonts/Montserrat-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat-Medium';
  font-weight: 500;
  font-style: normal;
  src: local('Montserrat-Medium'),
    url('../fonts/Montserrat-Medium.woff2') format('woff2'),
    url('../fonts/Montserrat-Medium.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat-SemiBold';
  font-weight: 600;
  font-style: normal;
  src: local('Montserrat-SemiBold'),
    url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
    url('../fonts/Montserrat-SemiBold.woff') format('woff');
  font-display: swap;
}