@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import 'libs';

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 30px 0;
  background: $default;
  z-index: 999;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu {
  &__btn{
    display: none;
  }
  &__list {
    display: flex;
  }

  &__list-item+.menu__list-item {
    padding-left: 56px;
  }

  &__list-link {
    @extend %montserrat-400;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    transition: all .3s;
    border-bottom: 1px solid transparent;
    padding: 4px 2px;

    &:hover {
      color: $accent;
      border-bottom: 1px solid $accent;
    }
  }

  &__list-link--active {
    color: $accent;
    border-bottom: 1px solid $accent;
  }
}

.top {
  // margin-top: 89px;
  min-height: calc(100vh);
  padding-top: 149px;
  background-image: url('../images/top-bg.jpg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;

  &__inner {
    display: flex;
    justify-content: space-between;

  }

  &__inner-content {
    max-width: 420px;
  }

  &__inner-title {
    @extend %montserrat-600;
    font-size: 96px;
    line-height: 117px;
  }

  &__inner-text {
    margin-top: 42px;
    @extend %montserrat-500;
  }

  &__inner-btn {
    margin-top: 61px;
  }
}

.top-slider {
  margin-top: 70px;

  &__item {
    border-radius: 22px;
  }

  &__inner {
    position: relative;

    &::before {
      content: url('../images/topslider/slidertitle.png');
      position: absolute;
      z-index: 1;
      transform: translateY(-33%);
    }
  }
}



.top-slider__inner {
  display: flex;
  max-width: 679px;

  .slick-list {
    max-width: 415px;
  }

  .slick-dots {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto 0;
  }

  .slick-dots button {
    margin-left: 70px;
    background-color: $default;
    width: 25px;
    height: 25px;
    font-size: 0;
    border: none;
    cursor: pointer;
    padding: 0;
    position: relative;

    &::before {
      content: '';
      width: 9px;
      height: 9px;
      background-color: $default;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
    }
  }

  .slick-dots li+li {
    margin-top: 20px;
  }

  .slick-active button {
    background-color: transparent;
    border: 2px solid $default;
    width: 35px;
    height: 35px;
  }

  .slick-prev,
  .slick-next {
    margin: auto 0;
    width: 80px;
    height: 100px;
    border: none;
    background-color: $default;
    padding: 0;
    cursor: pointer;
  }

  .slick-prev {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  .slick-next {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .slick-prev img,
  .slick-next img {
    margin: 0 auto;
  }
}

.product {
  padding: 110px 0 55px;
  background-color: $bg;
  position: relative;
  &::after{
    content: '';
    position: absolute;
    background-image: url('../images/product/bg.png');
    width: 50px;
    height: 94px;
    background-repeat: no-repeat;
    right: 0;
    top: 0;
    transform: translateY(-40%);
  }
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title {
    max-width: 621px;
  }

  &__btn {
    margin-right: 104px;
  }

  &__content {
    margin-top: 123px;
    display: grid;
    grid-template-columns: repeat(3, 364px);
    column-gap: 40px;
  }

  &__content-item:first-child {
    position: relative;
    z-index: 1;
      &::before {
        content: url('../images/product/rect.png');
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transform: translate(-65px, -60px);
      }
  
  }

  &__content-title {
    margin-top: 21px;
    font-size: 24px;
  }

  &__content-description {
    margin-top: 21px;
    @extend %montserratAl-300;
    font-size: 20px;
    line-height: 24px;
  }

  &__content-details {
    margin-top: 21px;
    display: inline-block;
    color: $accent;
    border-bottom: 1px solid $accent;
  }
}



.videos{
  background-color: #bebebe;
  padding: 119px 0 153px;
  position: relative;
  z-index: 1;
    &::after {
      content: '';
      position: absolute;
      background-image: url('../images/videos/video-bg.png');
      width: 510px;
      height: 480px;
      background-repeat: no-repeat;
      right: 0;
      top: 0;
      transform: translateY(-5%);
      z-index: -1;
    }
    &::before{
      content: '';
      position: absolute;
      width: 595px;
      height: 605px;
      background-color: transparent;
      border: 4px solid #DB7702;
      left: 0;
      border-radius: 16px;
      z-index: -122;
      transform: translate(367px, 208px);
    }
  &__title{
    max-width: 621px;
  }
  &__text{
    margin-top: 21px;
    @extend %montserrat-300;
    max-width: 535px;
  }
  &__slider{
    margin-top: 88px;
    .slick-arrow{
      border: none;
      background-color: transparent;
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
    }
    .slick-prev{
      font-size: 0;
      transform: translate(-75px,-125px);
    }
    .slick-next{
      font-size: 18px;
      line-height: 22px;
      transform: translate(-15px, -118px);
    }
  }
  &__slider-item{
    margin: 0 87px 0 60px;
    background-image: url('../images/videos/popup-bg.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    min-height: 516px;
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    position: relative;
    max-width: 1028px;
    
  }
  &__slider-link{
    display: inline-block;
    margin-left: 102px;
  }
}

.slider-info{
  background-color: #F0F0F0;
  max-width: 331px;   //чекнуть потом
  padding: 20px 43px 25px 20px;
  &__title{
    @extend %montserratAl-500;
    font-size: 20px;
    line-height: 24px;
  }
  &__list{
    @extend %montserratAl-300;
    font-size: 16px;
    line-height: 20px;
  }
  &__item{
    margin-left: 25px;
    margin-top: 17px;
    position: relative;
    &::before{
      position: absolute;
      content: '';
      width: 11px;
      height: 11px;
      border-radius: 50%;
      background: $default;
      top: 0;
      left: 0;
      transform: translate(-200%,200%);
    }
  }
  &__link{
    margin-left: 25px;
    font-size: 20px;
    line-height: 24px;
    margin-top: 17px;
    display: inline-block;
    color: $accent;
    border-bottom: 1px solid $accent;
  }
}

.blog{
  padding: 110px 0 125px;
  background-color: $bg;
  position: relative;
  &::after {
      content: '';
      position: absolute;
      background-image: url('../images/blog/bg.png');
      width: 100px;
      height: 94px;
      background-repeat: no-repeat;
      right: 0;
      top: 0;
      transform: translate(0%,-50%);
      z-index: 1;
  }
  &__title{
    text-align: center;
    text-transform: uppercase;
    font-size: 36px;
    line-height: 44px;
  }
  &__slider{
    margin-top: 100px;
  }
  &__slider-img{
    max-width: 469px;
    max-height: 438px;
  }
  &__slider-text{
    max-width: 377px;
  }
  &__slider-link,
  &__slider-date{
    margin-top: 22px;
  }
  &__slider-link{
    display: inline-block;
    transition: all .3s;
    &:hover {
      color: $accent;
    }
  }
  &__slider-date{
    @extend %montserratAl-300;
    font-size: 20px;
    line-height: 24px;
  }
}

.swiper-slide-active{
  margin-top: 50px;
  position: relative;
  transition: all .3s;
  &::before {
    content: '';
    position: absolute;
    width: 449px;
    height: 457px;
    background-color: transparent;
    border: 4px solid #DB7702;
    left: 0;
    top: 0;
    border-radius: 16px;
    z-index: -122;
    transform: translate(-48px, -50px);
  }
}

.signup{
  padding: 55px 0;
  background: #efefef;
  &__form{
    display: flex;
    align-items: center;
    justify-content: center;
    @extend %montserrat-600;
  }
  &__email{
    padding: 29px 266px 29px 49px;
    font-size: 24px;
    line-height: 24px;
    background: #DDDDDD;
    border: 3px solid #030303;  
    border-bottom-left-radius:  16px;
    border-top-left-radius: 16px;
    &::placeholder{
      color: rgba(0, 0, 0, 0.3);
    }
  }
  &__btn{
    padding: 30px 14px;
    color: #fff;
    background-color: $default;
    cursor: pointer;
    border-bottom-right-radius: 16px;
    border-top-right-radius: 16px;
  }
}

.footer{
  padding: 89px 0 77px;
  background-image: url('../images/footer-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }
  &__item-link{
    color: #fff;
    @extend %montserrat-500;
    transition: all .3s;
    border-bottom: 1px solid transparent;
    &:hover{
      border-bottom:2px solid #fff;
    }
  }
  &__item + .footer__item{
    margin-top: 9px;
  }
  &__top-link{
    margin-top: 32px;
    color: #fff; 
    font-size: 22px;
    line-height: 27px;
    @extend %montserrat-300;
    display: flex;
    align-items: center;
    
  }
  &__top-link-img{
    display: inline-block;
  }
  &__top-link-text{
    margin-left: 10px;
  }
  &__form-label{
    color: #fff;
    @extend %montserratAl-500;
    display: block;
  }
  &__form-wrapper{
    margin-top: 9px;
    display: flex;
  }
  &__form-input{
    padding: 19px 32px 19px 21px;
    border: none;
    &::placeholder{
      @extend %montserrat-500;
      color: #C9C9C9;
    }
  }
  &__form-btn{
    margin-left: 20px;
    background: transparent;
    color: #fff;
    padding: 22px 9px;
    font-size: 20px;
    line-height: 24px;
    @extend %montserrat-500;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    cursor: pointer;
  }
  &__socials{
    display: flex;
    align-items: center;
    margin-top: 28px;
  }
  &__socials-list{
    display: flex;
    align-items: center;
  }
  &__socials-link{
    &:hover{
      svg{
        path{
          fill: $accent;
        }
      }
    }
  }
  &__socials-text{
    color: #fff;
    font-size: 18px;
    line-height: 22px;
    @extend %montserrat-300;
    margin-left: 50px;
  }
  &__socials-items +.footer__socials-items{
    margin-left: 21px;
  }
}





@import 'media';