@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import 'libs';

.header {
  padding: 30px 0;
  background: $default;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu{
  &__list{
    display: flex;
  }
  &__list-item+.menu__list-item{
    padding-left: 56px;
  }
  &__list-link{
    @extend %montserrat-400;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    transition: all .3s;
    border-bottom: 1px solid transparent;
    padding: 4px 2px;
    &:hover{
      color: $accent;
      border-bottom: 1px solid $accent;
    }
  }
  &__list-link--active{
    color: $accent;
    border-bottom: 1px solid $accent;
  }
}

.top{
  padding: 60px 0 137px;
  background-image: url('../images/top-bg.jpg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  &__inner{
    display: flex;
    justify-content: space-between;
    
  }
  &__inner-content{
    max-width: 420px;
  }
  &__inner-title{
    @extend %montserrat-600;
    font-size: 96px;
    line-height: 117px;
  }
  &__inner-text{
    margin-top: 42px;
    @extend %montserrat-500;
  }
  &__inner-btn{
    margin-top: 61px;
  }
}

.top-slider{
  margin-top: 70px;
}
.slick-list{
  max-width: 415px;
}

.top-slider__inner{
  display: flex;
  max-width: 679px;
  .slick-dots{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto 0;
  }
  .slick-dots button{
    margin-left: 70px;
    background-color: $default;
    width: 25px;
    height: 25px;
    font-size: 0;
    border: none;
    cursor: pointer;
    padding: 0;
    position: relative;
    &::before{
    content: '';
    width: 11px;
    height: 9px;
    background-color: $default;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    }
  }
  .slick-dots li + li{
  margin-top: 20px;
  }
  .slick-active button{
    background-color: transparent;
    border: 2px solid $default;
    width: 35px;
    height: 35px;
  }
  .slick-prev,
  .slick-next{
    margin: auto 0;
    width: 80px;
    height: 100px;
    border: none;
    background-color: $default;
    padding: 0;
    cursor: pointer;
  }
  .slick-prev{
    border-top-left-radius : 20px;
    border-bottom-left-radius : 20px;
  }
  .slick-next{
    border-top-right-radius : 20px;
    border-bottom-right-radius : 20px;
  }
  .slick-prev img,
  .slick-next img{
    margin: 0 auto;
  }
}










@import 'media';